In [4]:
import pandas as pd
df = pd.read_csv("QueryResults.csv", header=0, names=["Date", "Tag", "Posts"])
df.head()

                  Date         Tag  Posts
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [5]:
df.tail()

                     Date    Tag  Posts
1986  2020-07-01 00:00:00      r   5694
1987  2020-07-01 00:00:00     go    743
1988  2020-07-01 00:00:00   ruby    775
1989  2020-07-01 00:00:00   perl    182
1990  2020-07-01 00:00:00  swift   3607

In [6]:
df.isna()

       Date    Tag  Posts
0     False  False  False
1     False  False  False
2     False  False  False
3     False  False  False
4     False  False  False
...     ...    ...    ...
1986  False  False  False
1987  False  False  False
1988  False  False  False
1989  False  False  False
1990  False  False  False

[1991 rows x 3 columns]

In [8]:
df.shape

(1991, 3)

In [14]:
df.count()

Date     1991
Tag      1991
Posts    1991
dtype: int64

In [19]:
df["Posts"].max()

34478

In [20]:
df["Posts"].idxmax()

1958

In [21]:
df["Tag"][1958]

'python'

In [22]:
df["Date"][1958]

'2020-05-01 00:00:00'

In [23]:
df.groupby("Tag").count()

            Date  Posts
Tag
assembly     144    144
c            144    144
c#           145    145
c++          144    144
delphi       144    144
go           129    129
java         144    144
javascript   144    144
perl         144    144
php          144    144
python       144    144
r            142    142
ruby         144    144
swift        135    135

In [31]:
df.groupby("Tag")["Posts"].max()

Tag
assembly        455
c              4586
c#            16265
c++            8701
delphi          574
go              887
java          22109
javascript    25196
perl            984
php           18564
python        34478
r              7047
ruby           2957
swift          5160
Name: Posts, dtype: int64

In [41]:
df.groupby("Tag")["Posts"].sum()

Tag
assembly        34852
c              336042
c#            1423530
c++            684210
delphi          46212
go              47499
java          1696403
javascript    2056510
perl            65286
php           1361988
python        1496210
r              356799
ruby           214582
swift          273055
Name: Posts, dtype: int64

LANGUAGE WITH THE HIGHEST MONTHS OF POSTS

In [44]:
df.groupby("Tag")["Date"].count().idxmax()

'c#'